body {
    margin: 0;
    height: 100vh;
    background-color: #bfe3ec;
    font-family: Arial;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;       
    height: 100vh;
}

h1 {
    color: darkblue;
    text-align: center;
}

.para {
    color: rgb(70, 226, 70);
    font-size: 18px;
}

#btn {
    background-color: rgba(159, 115, 33, 0.997);
    color: white;
    padding: 10px;
    border: none;
}
