body {
    margin: 0;
    height: 100vh;
    background-color: #bfe3ec;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #bfe3ec;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 100%;
}
h1 {
    color: darkblue;
    text-align: center;
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input {
    width: 100%;
    padding: 6px;
    margin: 5px 0 10px 0;
}
.para {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}
#button {
    width: 100%;
    background-color: rgba(159, 115, 33, 0.997);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
